<h1>Welcome Wiki Fans</h1>
<p>Welcome to my wikis page. Feel free to make some wikis.</p>

<ul class="nav nav-tabs">
	<li><%= link_to "Downgrade", downgrade_user_path, method: :post, class: "btn btn-danger center-block", data: {confirm: "Are you sure you want to downgrade your account? All your private wikis will be made public!"} %></li>
</ul>